.component-storages {
    .contnet-storages {
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        padding: 10px 0px;
        margin-top: 20px;

        .title {
            text-align: center;
            font-size: 2rem;

            span {
                color: var(--main-color);
                font-weight: bold;
            }
        }

        h3 {
            border-bottom: 1px solid black;
            margin: 5px;
            padding: 5px;
        }

        .Storages {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            padding: 10px 20px;


            .storage {
                width: 300px;
                max-width: 300px;
                box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
                padding: 10px 20px;
                margin-bottom: 20px;
                border-radius: 8px;
                transition: 0.3s ease-in-out;
                cursor: pointer;

                .image {
                    width: 100%;
                }

                div {
                    margin-bottom: 10px;
                    font-weight: bold;
                }

                &:hover {
                    transform: scale(1.03);
                }
            }
        }
    }

    #spinner {
        display: flex;
        background-color: #ffffff70;
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        justify-content: center;
        align-items: center;
    }
}