.component-storage {
    .content-storage {
        .storage {
            .card-storage {
                width: 310px;
                margin-top: 20px;
                border-radius: 8px;
                padding: 10px 20px;
                box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                overflow: hidden;

                &:hover {
                    animation: shake ease-in-out;
                    animation-duration: 0.8s;
                    animation-iteration-count: unset;
                }


                .card-image {
                    width: 100%;
                    filter: drop-shadow(0.25rem 0.2rem 0.25rem rgba(0, 0, 0, 0.473));
                }

                .card-name {
                    border-top: 1px solid rgba(0, 0, 0, 0.315);
                    font-weight: bold;
                    padding-top: 15px;
                }

                .card-location {
                    font-weight: bold;
                    padding-top: 15px;
                }

                .card-edit {
                    margin-top: 15px;
                    padding: 7px 30px;
                    border-radius: 7px;
                    font-weight: bold;
                    color: white;
                    font-size: 1rem;
                    cursor: pointer;
                    transition: 0.3s;
                    border: 1px solid rgba(14, 133, 14, 0.726);
                    background-color: rgba(14, 133, 14, 0.726);
                    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;

                    &:hover {
                        background-color: white;
                        color: rgba(14, 133, 14, 0.726);
                    }
                }
            }
        }
    }

    @keyframes shake {

        0%,
        50% {
            transform: rotate(1deg);
        }

        25%,
        75% {
            transform: rotate(-1deg);
        }
    }
}