<div class="component-storage">
    <div class="content-storage">
        <div class="storage">
            <div class="card-storage">
                <img class="card-image" src="../../../../assets/store.png" alt="">
                <p class="card-name">name : <span>{{data.name}}</span></p>
                <p class="card-location">location : <span>{{data.location}}</span></p>
                <button class="card-edit" (click)="setCurrentStorage(data.id)"
                    routerLink="../update/{{data.id}}">Edit</button>
            </div>
        </div>
    </div>
</div>