<div class="card">
    <div class="card-content">
        <!-- <img class="image-card" alt="image card" [src]="medicine.image"> -->
        <!-- <img class="image-card" *ngIf="medicine.image==''" alt="image card" [src]="medicine.image"> -->
        <img class="image-card" alt="image card" src="../../../../assets/medic.jpg">
        <div class="name-price-card">
            <p class="name-card">{{medicine.name|stringLenght:[30,'...']|uppercase}}</p>
            <span class="price-card"> <span> Price : </span>{{medicine.price|currency}}</span>
        </div>
        <!-- <p class="details-card">{{medicine.details|stringLenght:[100,'...']}}</p> -->
        <!-- allMedicine/details/:id -->
        <!-- <span class="details" routerLink="../details/:{{medicine.id}}">More Details</span> -->
        <span class="qty"><span>Quantity : </span>{{medicine.qty}}</span>

        <div class="btns" *ngIf="addButton">
            <button class="add-cart" (click)="addButton=false">Add Cart</button>
            <button class="details-cart" routerLink="../details/:{{medicine.id}}">More Details</button>
        </div>

        <div class="add-amount" *ngIf="!addButton&&!doneAdd">
            <button class="add" (click)="add()">ADD</button>
            <input class="amount" type="number" [(ngModel)]="amount">
        </div>

        <div class="doneAdd" *ngIf="doneAdd">
            <i class="fa fa-check" aria-hidden="true"></i>
            DONE
        </div>
    </div>
</div>