<div class="component-register-admin">
    <div class="content-register-admin">
        <div class="logo">
            <p>Create<span> Admin</span></p>
        </div>
        <form class="form-rigster-admin" [formGroup]="FormRegisterAdmin" (ngSubmit)="onSubmitForm()">
            <div class="username">
                <div class="input-control">
                    <span>User Name:</span>
                    <input formControlName="username" placeholder="First Name And Last Name" type="text">
                    <p class="message-wrong"
                        *ngIf="FormRegisterAdmin.controls['username'].invalid&&FormRegisterAdmin.controls['username'].touched&&FormRegisterAdmin.controls['username'].dirty">
                        Enter your name</p>
                </div>
            </div>
            <div class="phone">
                <div class="input-control">
                    <span>phone:</span>
                    <input formControlName="phone" placeholder="phone" type="text">
                    <p class="message-wrong"
                        *ngIf="FormRegisterAdmin.controls['phone'].invalid&&FormRegisterAdmin.controls['phone'].touched&&FormRegisterAdmin.controls['phone'].dirty">
                        Enter a
                        ten-digit phone number</p>
                </div>
            </div>
            <div class="storageId">
                <div class="input-control">
                    <span>Select storage:</span>
                    <select class="dropdown" [(ngModel)]="selectedStorageId" [ngModelOptions]="{standalone: true}">
                        <option *ngFor="let storage of allStorage" [value]="storage.id" [selected]="storage.id">
                            id :{{storage.id}} | name: {{storage.name}}
                        </option>
                    </select>
                </div>
            </div>
            <div class="password">
                <div class="input-control">
                    <span>Password:</span>
                    <input formControlName="password" [type]="showPassword ? 'text' : 'password'"
                        placeholder="password">
                    <i (click)="showPassword = !showPassword" [class.hide]="!showPassword"
                        class="icon-show-hide fa fa-eye-slash"></i>
                    <i (click)="showPassword = !showPassword" [class.hide]="showPassword"
                        class="icon-show-hide fa fa-eye"></i>
                    <p class="message-wrong"
                        *ngIf="FormRegisterAdmin.get('password')?.invalid&&FormRegisterAdmin.get('password')?.touched&&FormRegisterAdmin.get('password')?.dirty">
                        Enter a password longer than 5 characters
                    </p>
                </div>
            </div>
            <div class="confirm-password">
                <div class="input-control">
                    <span>Confirm Password:</span>
                    <input formControlName="confirmPassword" [type]="showConfirmPassword ? 'text' : 'password'"
                        placeholder="confirm password">
                    <i (click)="showConfirmPassword = !showConfirmPassword" [class.hide]="!showConfirmPassword"
                        class="icon-show-hide fa fa-eye-slash"></i>
                    <i (click)="showConfirmPassword = !showConfirmPassword" [class.hide]="showConfirmPassword"
                        class="icon-show-hide fa fa-eye"></i>
                    <p class="message-wrong"
                        *ngIf="FormRegisterAdmin?.errors?.['mismatch']&&FormRegisterAdmin.get('confirmPassword')?.touched">
                        password does not
                        match</p>
                </div>
            </div>
            <button [disabled]="FormRegisterAdmin.invalid||selectedStorageId==0"
                class="btn-register-admin">Register</button>
            <p *ngIf="error" class="message-error">The user number already exists, choose another number</p>
        </form>
    </div>
    <app-spinner *ngIf="visibleSpinner" id="spinner"></app-spinner>
</div>