<div class="details-card">
    <div class="image-details">
        <img class="image" src="../../../../assets/medic.jpg" alt="">
    </div>
    <div class="content-details">
        <p class="title-details">Title Details</p>
        <p class="All-details"> All DetailsAll DetailsAll DetailsAll DetailsAll DetailsAll DetailsAll DetailsAll
            DetailsAll DetailsAll DetailsAll DetailsAll DetailsAll DetailsAll DetailsAll DetailsAll DetailsAll
            DetailsAll DetailsAll DetailsAll
            DetailsAll DetailsAll DetailsAll DetailsAll DetailsAll DetailsAll DetailsAll DetailsAll DetailsAll
            DetailsAll DetailsAll DetailsAll
            DetailsAll DetailsAll DetailsAll DetailsAll DetailsAll DetailsAll DetailsAll DetailsAll DetailsAll
            DetailsAll DetailsAll DetailsAll DetailsAll DetailsAll
            DetailsAll DetailsAll DetailsAll
            DetailsAll DetailsAll DetailsAll DetailsAll Details</p>
        <p class="amount-details">Amount : 4</p>
        <p class="by-store">By Store : sotre 1</p>
        <div class="add-btn">
            <button class="add-cart" *ngIf="addButton" (click)="addButton=false">Add Cart</button>
            <div class="add-amount" *ngIf="!addButton&&!doneAdd">
                <button class="add" (click)="add()">ADD</button>
                <input class="amount" type="number" [(ngModel)]="amount">
            </div>
            <div class="doneAdd" *ngIf="doneAdd">
                <span routerLink="/user/allMedicine">
                    <i class="fa fa-check" aria-hidden="true"></i>
                    DONE
                </span>
            </div>
        </div>
    </div>
</div>