.cards {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;

    .card {
        margin-top: 20px;
        width: 280px;
    }

    @media (max-width: 640px) {
        .card {
            width: 100%;
        }
    }
}