*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
// global root
:root{
  --font-color:#f67A06;
  --main-color:#f67A06;
  --white-color:#f3f3f3;
}
// container
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
  /* Small */
  @media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  /* Medium */
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  /* Large */
  @media (min-width: 1400px) {
    .container {
      width: 1370px;
    }
  }

  // syle LOGO
  .logo {
    font-weight: bold;
    font-size: 1.3rem;
    padding: 0px 15px;

    span {
        color: var(--font-color);
        font-size: 2rem;
        font-weight: bolder;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
}